@{
    ViewData["Title"] = "Quên Mật Khẩu";
}

<h2>Quên Mật Khẩu</h2>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}
<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Gửi mã</button>
    <a href="/Auth/ResetPassword" class="btn btn-secondary">Reset Password</a>
    <a href="/Auth/Login" class="btn btn-secondary"> Quay lại</a>

</form>