@{
    ViewData["Title"] = "Đăng nhập";
}

<h2>Đăng nhập</h2>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form method="post">
    <label>Email:</label>
    <input type="email" name="email" class="form-control" required />
    <label>Mật khẩu:</label>
    <input type="password" name="password" class="form-control" required />
    <br>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
    <a href="/Auth/ForgotPassword" class="btn btn-link">Quên mật khẩu?</a>
    <a href="/Auth/Register" class="btn btn-link">Đăng ký tài khoản</a>

</form>