@{
    ViewData["Title"] = "Đặt Lại Mật Khẩu";
}

<h2>Đặt Lại Mật Khẩu</h2>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}
<form asp-action="ResetPassword" method="post">
    <div class="mb-3">
        <label>Token:</label>
        <input type="text" name="token" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Mật khẩu mới:</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Đặt lại mật khẩu</button>
    <a href="/Auth/ForgotPassword" class="btn btn-secondary">Quay lại lấy mã token </a>
    <a href="/Auth/Login" class="btn btn-secondary">Login </a>
</form>
